body {
  margin: 0;
  padding: 0;
}

.list-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

.datagrid-images{
  height: 80%;
  border-radius: 100%;
}
.list-header {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 18px;
}

.list-search {
  display: flex;
  gap: 18px;
  justify-content: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.login-card > button {
  align-self: center;
}
